<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- <script src="jquery-3.4.0.min.js"></script> -->
    
      <title>Happy Foodie Restaurant</title>
      <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="/stylesheets/style.css" rel='stylesheet'>
  </head>
<body>
    <!-- <navigation -->
    <div>
      <center><h1>FOODIE BUDDY</h1></div></center>
      <div>
        <nav class="navbar ">
            <ul>
                <a href="home">Home</a>&nbsp;
                <a href="Contactus">Contacts</a>&nbsp;
                <a href="about">About</a>&nbsp;
                <a href="#search">Search</a>
            </ul>
        </nav>
    </div>
    
    <!-- <search -->
        <div>
       <!-- <img src="1.jpg" style="width:1900px;"> -->
       <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          <div class="carousel-item active">
          <img class="d-block w-100" src="1.jpg" alt="First slide">
          </div>
         <div class="carousel-item">
         <img class="d-block w-100" src="13.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="11.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
              <img class="d-block w-100" src="12.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                  <img class="d-block w-100" src="14.jpg" alt="Third slide">
                </div>
  </div>
  </div>
        <center>
        <h2 style="COLOR:#ff006a;">"Book a table with us and get offers upto 50% and enjoy your holidays with your family"</h2>
        </br>
        <marquee direction = "right"><h3 style="COLOR:#1238e2;">The House of Refined Tastes</h3></marquee>
        </center>
    </div>
  
     <div style="background-color: rgb(243, 244, 250);height:200px;" id="search">
      
        <div class="sample" >
         <img src="img.png" style = "width:210px; height:75px; padding-right:120px;float:left;">
         <h1 style="color:rgb(37, 211, 241);width:245px;float:left;padding-top: 10px;">"Enjoy your food"</h1>
         <img src="img.png" style = "width:210px; height:75px;padding-left:120px;">
        </div>
       
    </div> 
     
        
      <div class="form-group">
                
            <select class="form-control" id="select_id" style= "background-color: #f44336; width: 220px; height: 40px; margin-left:819px;margin-top:70px;">
    
                    <option>Select your city</option>
                    <option value="7">Chennai</option>
                    <option value="4">Coimbatore</option>
                    <option value="3">Madurai</option>
                    <option value="2">Trichy</option>
                  </select></br>
                  <input type="button" value="Search" class="btn btn-info" style= "width: 220px;height: 45px;margin-left: 819px;">
  
    </div>

    <div class="message col-sm-12"></div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/javascripts/res.js"></script>

</body>
</html>
