<html>
 
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    </head>
   
<body>
    
    <div>
   <marquee direction = "right"><h2 style= "COLOR:#ff006a;">"Enjoy Parties with your Friends"; "Barbeque Party"; "Couple Table"</h2></marquee>
    <!-- <center>
    <h2 style="COLOR:#ff006a;">"Enjoy Parties with your Friends"</h2>
    <h2 style="COLOR:#ff006a;">"Barbeque Party"</h2>
    <h2 style="COLOR:#ff006a;">"Couple Table"</h2>
    </center> -->
    </div>

<!-- <navigation -->

    <div>
        <nav class="navbar ">
            <ul>
                <a href="home">Home</a>&nbsp;
                <a href="Contactus">Contacts</a>&nbsp;
                <a href="about">About</a>&nbsp;
                
            </ul>
        </nav>
    </div>

     <!-- Bootstrap Carousel-->

<div id = "carousel">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

    <div class="carousel-item active"> 
      <img class="d-block w-100" src="3.jpg" alt="First slide">
      </div>

      <div class="carousel-item">
      <img class="d-block w-100" src="4.jpg" alt="Third slide">
      </div>
    
      <div class="carousel-item">
      <img class="d-block w-100" src="6.jpg" alt="Third slide">
      </div>
    
  </div>
  </div>
</div>

</body>
</html>