<html>
        <head>
                <!-- Basic -->
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                 <!-- Mobile Metas -->
                 <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">   
              </head>
            <body>
                <!-- <navigation -->
                <div>
                    <nav class="navbar ">
                        <ul>
                            <a href="home">Home</a>&nbsp;
                            <a href="Contactus">Contacts</a>&nbsp;
                            <a href="about">About</a>&nbsp;
                        
                        </ul>
                    </nav>
                </div>
<!--Contact Lists-->
<center>
<body background= "2.jpg" style="background-size: cover;">

<h1 style="color:rgb(255, 71, 71);">Contact Us:</h1>
</br>
<a style="font-size: 150%; color:rgb(71, 135, 255)" href="mailto:bavitiraacd-restaurant@gmail.com?Subject=Hello%20again" target="_top">Send Mail: bavitiraacd-restaurant@gmail.com</a>
<h2 style="background-color:rgb(255, 99, 71); width:402px">Chennai: +044 225656</h2>
<h2 style="background-color:rgb(255, 99, 71); width:402px">Coimbatore: +044 225657</h2>
<h2 style="background-color:rgb(255, 99, 71); width:402px">Madurai: +044 225658</h2>
<h2 style="background-color:rgb(255, 99, 71); width:402px">Trichy: +044 225659</h2>


</body>
</center>
</div>
</html>
