<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    
    <!-- <script src="jquery-3.4.0.min.js"></script> -->
    
      <title>Happy Foodie Restaurant</title>
      <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="/stylesheets/style.css" rel='stylesheet'>
  </head>
<body>
    
    <div id ="head">
     <img src="img.png" style = "width:236px; height:104px; padding-right:120px;float:left;"></div>
      <div><center><h1>FOODIE BUDDY</h1></center></div>
      
<!-- <navigation -->
        <nav class="navbar ">
            <ul>
                <a href="home">Home</a>&nbsp;
                <a href="Contactus">Contacts</a>&nbsp;
                <a href="about">About</a>&nbsp;
                <a href="#search">Search</a>
            </ul>
        </nav>
    </div>
  </div>
    
    <!-- carousel -->
       
    <div id = "carousel">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      
          <div class="carousel-inner">
      
          <div class="carousel-item active"> 
            <img class="d-block w-100" src="3.jpg" alt="First slide">
            </div>
      
            <div class="carousel-item">
            <img class="d-block w-100" src="4.jpg" alt="Third slide">
            </div>
          
            <div class="carousel-item">
            <img class="d-block w-100" src="6.jpg" alt="Third slide">
            </div>
          
        </div>
        </div>
      </div>
      
        <center>
        <h2 style="COLOR:#ff006a;">"Book a table with us and get offers upto 50% and enjoy your holidays with your family"</h2>
        <marquee direction = "right"><h3 style="COLOR:#1238e2;">The House of Refined Tastes</h3></marquee>
        </center>
    
    <div style= "background-image:url('8.jpg');">
    <div style= "height:150px;" id="search">
      
        <div class="sample" >
         <img src="img.png" style = "width:210px; height:75px; padding-right:120px;float:left;">
         <h3 style="color:rgb(204, 241, 37);width:245px;float:left;padding-top: 10px;">"Enjoy your food"</h3>
         <img src="img.png" style = "width:210px; height:75px;padding-left:120px;">
        </div>
    </div>

    <!-- DropDown -->
      <div class="form-group">
                
            <select class="form-control" id="select_id" style= "background-color: #f44336; width: 220px; height: 40px; margin-left:819px;margin-top:70px;">
    
                    <option>Select your city</option>
                    <option value="7">Chennai</option>
                    <option value="4">Bangalore</option>
                    <option value="3">Mumbai</option>
                    <option value="2">Kolkata</option>
                  </select></br>
            <input type="button" id="getText" value="Search" class="btn btn-info" style= "width: 220px;height: 45px;margin-left: 819px;">
  
    </div>
  </div>

    <div class="message col-sm-12"></div>

    <!-- Bootstrap, css, js -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script
     src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/javascripts/res.js"></script>

</body>
</html>
