h1 {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	text-shadow: 3px 2px rgba(0, 47, 255, 0.904);
	width: 1130px
}
h2 {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}
/* .marq{
	width: 100%;
    font-size: 30px;
    padding: 20px 0;
	background-color: rgb(223, 67, 101);
	font-style: italic;
} */

.sample{
	width: 700px;
    height: 200px;
	margin-left: 600px;
	padding-top: 55px;
}
.head{
	margin-left: 600px;
	padding-top: 55px;
}


